#titulo{
    color: rgb(238, 105, 10);
    font-size:70px;
    text-shadow: 0 0 0.2em rgb(3, 74, 214), 0 0 0.2em rgb(3, 74, 214),
    0 0 0.2em rgb(3, 74, 214);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

img{
    width: 250px;
}

#boton_jugar{
    width: 150px;
    height: 75px;
    margin: 10px;
    color: rgb(3, 74, 214);
    background-color: rgb(238, 105, 10);
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
