label{
    color: rgb(3, 74, 214);
    background-color: rgb(238, 105, 10);
    padding: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

#gifjugar{
    width: 400px;

}
#enviar{
    color: rgb(3, 74, 214);
    background-color: rgb(238, 105, 10);
    border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
