.tablero{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.celda{
    height: 150px;
    width: 150px;
    background-color: rgb(222, 117, 4);
    border: 3px solid rgb(6, 6, 6);
    cursor: pointer;
    color: rgb(6, 20, 221);
    display: flex;
    justify-content: center;
    align-content: center;

}

.piezaX{
    background-image: url(../img/X.jpeg);
    background-size: 100% 100%;
}

.piezaO{
    background-image: url(../img/O.jpeg);
    background-size: 100% 100%;
}

.contenedorNombre{
    border: 2px solid black;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    margin-left: 3px;

}

label{
    background-color: rgb(238, 105, 10);
    color: rgb(3, 74, 214);
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    padding: 3px;
    font-weight: 800;

}

#juego{
    justify-content: center;
    font-family: "Permanent Marker", cursive;
}

.celda{
    justify-content: center;
    font-family: "Permanent Marker", cursive;

}

.nombreJs{
    padding: 10px;
    font-weight: bold;
}
.boton_jugar{
    margin: 10px;
    color: rgb(3, 74, 214);
    background-color: rgb(238, 105, 10);
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}